* {
  box-sizing: border-box;
}

@-webkit-keyframes flashdash {
  0% {
    border-color: #1F4A7B;
  }
  10% {
    border-color: #337BCD;
  }
  100% {
    border-color: #1F4A7B;
  }
}

@keyframes flashdash {
  0% {
    border-color: #1F4A7B;
  }
  10% {
    border-color: #337BCD;
  }
  100% {
    border-color: #1F4A7B;
  }
}
@-webkit-keyframes flashdashactive {
  0% {
    border-color: #337BCD;
  }
  10% {
    border-color: #5DA6F8;
  }
  100% {
    border-color: #337BCD;
  }
}
@keyframes flashdashactive {
  0% {
    border-color: #337BCD;
  }
  10% {
    border-color: #5DA6F8;
  }
  100% {
    border-color: #337BCD;
  }
}
html, body {
  margin: 0;
  padding: 0;
}

.html-ctr-dashboard {
  width: 100%;
  height: 100%;
}
.html-ctr-dashboard, .html-ctr-dashboard * {
  box-sizing: border-box;
}
.html-ctr-dashboard .ctr-dashboard {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  background: #112435;
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: lightgrey;
  font-family: "jetbrains", monospace;
  font-size: 0.9rem;
  text-align: center;
}

.dashboard-omnibar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 10px;
  border: 2px solid rgba(100, 129, 161, 0.5);
  border-radius: 4px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.dashboard-omnibar input[type=text] {
  margin: 4px auto;
  background: #112435;
  padding: 8px;
  border: unset;
  width: 100%;
  color: lightgrey;
  font-family: monospace;
  font-size: 18px;
}
.dashboard-omnibar input[type=text]:focus {
  outline: none;
}
.dashboard-omnibar .dropup {
  background: #112435;
  width: 100%;
  display: flex;
  padding: 0 0.25rem;
  flex-direction: column-reverse;
}
.dashboard-omnibar .dropup .drop-item {
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.15s ease-in-out;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.dashboard-omnibar .dropup .drop-item .summary {
  flex: 1;
  display: flex;
  opacity: 0.5;
  font-style: italic;
  justify-content: flex-end;
}
.dashboard-omnibar .dropup .drop-item:first-of-type {
  margin-bottom: 0.25rem;
}
.dashboard-omnibar .dropup .drop-item:last-of-type {
  margin-top: 0.25rem;
}
.dashboard-omnibar .dropup .drop-item.selected {
  background: #1F4A7B;
}
.dashboard-omnibar .dropup .drop-item.selected .summary {
  opacity: 0.75;
}

.dashboard {
  width: 100%;
  height: 100%;
  row-gap: 0.9rem;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  -moz-column-gap: 3px;
       column-gap: 3px;
  transition: border-color 1s;
  text-align: left;
}
.dashboard .dash-cell {
  position: relative;
  border: 2px solid #1F4A7B;
  border-radius: 4px;
  padding: 5px 3px;
  width: 100%;
  height: 100%;
}
.dashboard .dash-cell.flash {
  -webkit-animation: 1s ease-out flashdash;
          animation: 1s ease-out flashdash;
}
.dashboard .dash-cell.active {
  border-color: #337BCD;
}
.dashboard .dash-cell.active.flash {
  -webkit-animation: 1s ease-out flashdashactive;
          animation: 1s ease-out flashdashactive;
}
.dashboard .dash-cell.hide {
  display: none;
}
.dashboard .dash-cell .dash-title {
  position: absolute;
  top: -10px;
  width: 100%;
  text-align: center;
  background: #112435;
}
.dashboard .dash-cell .dash-title span {
  padding: 0 5px;
  height: 0.9rem;
  line-height: 0.9rem;
}
.dashboard .dash-cell .keeb {
  position: absolute;
  left: 0.5rem;
  top: -10px;
  background: #112435;
  padding: 0 5px;
  height: 0.9rem;
  color: #337BCD;
}
.dashboard .dash-cell .keeb:before {
  content: "[";
}
.dashboard .dash-cell .keeb:after {
  content: "]";
}
.dashboard .dash-cell.active .keeb {
  color: #f8b05d;
}
.dashboard .dash-cell .dash-content {
  max-height: 100%;
  overflow: hidden;
  line-height: 0.9rem;
  white-space: pre-wrap;
}
.dashboard .dash-cell .dash-content * {
  display: inline-block;
  line-height: 0.9rem;
}
.dashboard .dash-cell .dash-content span {
  display: inline;
}
.dashboard .dash-cell .dash-content e, .dashboard .dash-cell .dash-content es {
  display: inline-block;
  width: 0.45rem;
  height: 0.9rem;
  line-height: 0.9rem;
}
.dashboard .dash-cell .dash-content e {
  width: 0.9rem;
  font-family: emoji;
}

.font-selector {
  display: none;
}
.font-selector:checked ~ .ctr-dashboard {
  font-family: "terminess", monospace;
}
.font-selector:checked ~ .ctr-dashboard .font-selector-label {
  background: #112435;
}
.font-selector:checked ~ .ctr-dashboard .font-selector-label .bg:before {
  background: #337BCD;
  left: 1rem;
}
.font-selector:checked ~ .ctr-dashboard .font-selector-label .bg:after {
  content: "Terminess";
}

.font-selector-label {
  transition: all 0.15s ease-in-out;
  border: 1px solid #337BCD;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  bottom: 0.75rem;
  opacity: 0.5;
  background: #337BCD;
  border-radius: 999px;
  width: 2.5rem;
  height: 1.5rem;
}
.font-selector-label .bg {
  position: relative;
}
.font-selector-label .bg:before {
  transition: all 0.15s ease-in-out;
  content: "";
  margin: 0.25rem;
  left: 0rem;
  display: inline;
  position: absolute;
  height: 0.9rem;
  width: 1rem;
  background: #112435;
  border-radius: 999px;
}
.font-selector-label .bg:after {
  transition: all 0.15s ease-in-out;
  pointer-events: none;
  opacity: 0;
  content: "Jetbrains";
  position: absolute;
  right: calc(100% + 0.5rem);
  top: 0.25rem;
}
.font-selector-label:hover {
  opacity: 1;
}
.font-selector-label:hover .bg:after {
  pointer-events: all;
  opacity: 1;
}

body.material .ctr-dashboard {
  background: #bdc3c7;
}
body.material .ctr-dashboard .dashboard {
  grid-gap: 1rem;
}
body.material .dash-cell {
  padding-top: 2rem;
  background: #ecf0f1;
  border: 0;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}
body.material .dash-cell .keeb, body.material .dash-cell .dash-title {
  top: 0.25rem;
  background: transparent;
  color: #4a4a4a;
}
body.material .dash-cell .dash-title {
  text-align: right;
  padding-right: 1rem;
}
body.material .dash-cell.active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: white;
}
body.material .dash-cell.active .keeb, body.material .dash-cell.active .dash-title {
  font-weight: bold;
}
body.material .dashboard-omnibar {
  background: #ecf0f1;
  border: 0;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 3px;
}
body.material .dashboard-omnibar:focus-within {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
}
body.material .dashboard-omnibar input {
  background: transparent;
  color: #4a4a4a;
}
body.material .dropup {
  background: #ecf0f1;
}
body.material .dropup .drop-item {
  color: #4a4a4a;
}
body.material .dropup .drop-item.selected {
  background: white;
  font-weight: bold;
}/*# sourceMappingURL=dashboard.css.map */