// https://jsonformatter.org/scss-to-css
@import "./_octolib.scss";

$dash-font-height: 0.9rem;
$dash-font-width: $dash-font-height * 0.5;
$code-background: #112435;
$passive        : #1F4A7B;
$grey-blue      : #6481A1;
$active         : #337BCD;
$active-bright  : #5DA6F8;
$complimentary  : #f8b05d;
$text-color: darken($grey-blue, 20%);

@mixin animate() {
  transition: all 0.15s ease-in-out;
}

* {
  box-sizing: border-box;
}


@keyframes flashdash {
  0%   { border-color: $passive; }
  10%  { border-color: $active; }
  100% { border-color: $passive; }
}
@keyframes flashdashactive {
  0%   { border-color: $active; }
  10%  { border-color: $active-bright; }
  100% { border-color: $active; }
}

html, body {
  margin:0;
  padding: 0;
}

.html-ctr-dashboard {
  width: 100%;
  height: 100%;
  &, * { box-sizing: border-box; }

  .ctr-dashboard {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    background: $code-background;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: lightgrey;
    font-family: "jetbrains", monospace;
    font-size: $dash-font-height;
    text-align: center;
  }
}

.dashboard-omnibar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 10px;
  border: 2px solid rgba($grey-blue, 0.5);
  border-radius: 4px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  input[type=text] {
    margin: 4px auto;
    background: $code-background;
    padding: 8px;
    border: unset;
    width: 100%;
    color: lightgrey;
    font-family: monospace;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  .dropup {
    background: $code-background;
    width: 100%;
    display: flex;
    padding: 0 0.25rem;
    flex-direction: column-reverse;
    
    .drop-item {
      cursor: pointer;
      padding: 0.5rem;
      @include animate;
      display: flex;
      justify-content: flex-start;
      width: 100%;

      .summary {
        flex: 1;
        display: flex;
        opacity: 0.5;
        font-style: italic;
        justify-content: flex-end;
      }
      
      &:first-of-type {
        margin-bottom: 0.25rem;
      }
      &:last-of-type {
        margin-top: 0.25rem;
      }
      &.selected {
        background: $passive;

        .summary {
          opacity: 0.75;
        }

      }
    }
  }
}


.dashboard {
  width: 100%;
  height: 100%;
  row-gap: $dash-font-height;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 3px;
  transition: border-color 1s;
  text-align: left;



  .dash-cell {
    position: relative;
    border: 2px solid $passive;
    border-radius: 4px;
    padding: 5px 3px;
    width: 100%;
    height: 100%;

    &.flash {
      animation: 1s ease-out flashdash;
    }
    &.active {
      border-color: $active;

      &.flash {
        animation: 1s ease-out flashdashactive;
      }
    }
    &.hide {
      display: none;
    }
    .dash-title {
      position: absolute;
      top: -10px;
      width: 100%;
      text-align: center;
      background: $code-background;

      span {
        padding: 0 5px;
        height: $dash-font-height;
        line-height: $dash-font-height;
      }
    }

    .keeb {
      position: absolute;
      left: 0.5rem;
      top: -10px;
      &:before { content: "["}
      &:after { content: "]"}
      background: $code-background;
      padding: 0 5px;
      height: $dash-font-height;
      color: $active;
    }

    &.active .keeb {
      color: $complimentary;
    }

    .dash-content {
      max-height: 100%;
      overflow: hidden;
      line-height: $dash-font-height;
      white-space: pre-wrap;

      * {
        display: inline-block;
        line-height: $dash-font-height;
      }
      span {
        display: inline;
      }
      e, es {
        display: inline-block;
        width: $dash-font-width;
        height: $dash-font-height;
        line-height: $dash-font-height;
      }
      e { // Double width
        width: $dash-font-width*2;
        font-family: emoji;
        // font-size: $dash-font-height*0.75;
      }
    }
  }
}


.font-selector {
  display: none;
  
  &:checked ~ .ctr-dashboard{
    font-family: "terminess", monospace;

    .font-selector-label {
      background: $code-background;
      .bg {
        &:before {
          background: $active;
          left: 1rem;
        }
        &:after {
          content: "Terminess";
        }
      }
    }
  }
}

.font-selector-label {
  @include animate;
  border: 1px solid $active;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  bottom: 0.75rem;
  opacity: 0.5;

  background: $active;
  border-radius: 999px;
  width: 2.5rem;
  height: 1.5rem;

  .bg {
    position: relative;

    &:before {
      @include animate;
      content: '';
      margin: 0.25rem;
      left: 0rem;
      display: inline;
      position: absolute;
      height: 0.9rem;
      width: 1rem;
      background: $code-background;
      border-radius: 999px;
    }

    &:after {
      @include animate;
      pointer-events: none;
      opacity: 0;
      content: "Jetbrains";
      position: absolute;
      right: calc(100% + 0.5rem);
      top: 0.25rem;
    }
  }

  &:hover {
    opacity: 1;
    .bg:after {
      pointer-events: all;
      opacity: 1;
    }
  }
}

body.material {

  .ctr-dashboard {  
    background: $silver; 

    .dashboard {
      grid-gap: 1rem;  
    }
  }
  
  .dash-cell {
    padding-top: 2rem;
    background: $clouds;
    border: 0;
    box-shadow: $shadow-border;
    border-radius: 3px;
    @include animate;

    .keeb, .dash-title {
      top: 0.25rem;
      background: transparent;

      color: $bulma-black;
    }
    .dash-title {
      text-align: right;
      padding-right: 1rem;
    }

    &.active {
      box-shadow: $shadow-3;
      background: white;
      .keeb, .dash-title {
        font-weight: bold;
      }
    }
  }

  .dashboard-omnibar {
    background: $clouds;
    border: 0;
    @include animate;

    box-shadow: $shadow-border;
    border-radius: 3px;

    &:focus-within {
      box-shadow: $shadow-2;
      background: white;

      input {
      }
    }

    input {
      background: transparent;
      color: $bulma-black;
    }
  }
  .dropup {
    background: $clouds;

    .drop-item {
      color: $bulma-black;

      &.selected {
        background: white;
        font-weight: bold;
      }
    }
  }
}